<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PushTestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>pushService.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7468019F1F3B43A3008033AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>746801B81F3B43A3008033AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>746801C31F3B43A3008033AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>746C4F5F1F3D92E300C72C01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>746C4F701F3EEC2800C72C01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
